
body,
html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/* For small devices */
@media screen and (max-width: 767px) {

  }


  /* large device */
@media screen and (min-width: 768px) {

    .redefining{
        background-color: #03132ce5;
         color: white;
         z-index: 1;
    
        }
        
        .uxST{
         display: flex;
         width: 350px ;
         margin-left: 55%;
         margin-top: 10%;
        }
        .uxST .Subredefining{
         z-index: 1;
        position: absolute;
        top: 19%;
        font-size: 18px;
        font-weight: 400;
       
        }
        .uxST h1 {
         position: absolute;
         top: 22%;
        
        }
       .uxST .tex-head{
          position: absolute;
          top: 22%;
          font-size: 48px;
          left: 40%;
        }
        .uxST .ui{
         position: absolute;
         top: 30%;
         left: 70%;
         font-weight: 400;
         z-index: 1;
        }
        .icon{
          width: 320px;
          height: 320px;
          background-color: #1D2B42;
          border-radius: 100%;
        
        }
        .abcSection{  
            margin: 71px 30px;
            font-weight: 100;
          
        }
     
        .abcwidth{
            width: 200px;
        }
        .rightSide{
           background-color: black;
           position: relative;
         
        }
      .redPizza{
           position: absolute;
            left: 0;
            width: 300px;
      }
      .pizza{
        position: absolute;
        right: 20%;
        width: 250px;
        top: 20%;

      }
      .bread{
        top: 0;
        position: absolute;
        right: 0;

      }
      .CutBread{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 250px;

      }
      .food{
        position: absolute;
        bottom: 5%;
        width: 250px;
        left: 5%;
      }
      .gallary{
        position: absolute;
     
        width: 250px;
        right: 5%;
      }
      .remix{
        position: absolute;
        width: 250px;
        top: 30%;
        left: 20%;
      }
      .blockChain{
        background-color: #470bb0e5;
        color: white;
        z-index: 1;
      }
      .BlockChainIcon{
        width: 320px;
        height: 320px;
        background-color: #5A24B8;
        border-radius: 100%;
      
      }
      .blockChainRightSide{
        background-color: hwb(244 6% 28% / 0.64);
          position: relative;
        
      }
      .headLine{
        background-color: rgb(22, 10, 105);
        color: white;
        z-index: 1;
      }
      .headlineIcon{
        width: 320px;
        height: 320px;
        background-color: rgb(22, 10, 105);
        border-radius: 100%;
      }
      .shopImgBg{
        width: 680px;
        height: 880px;
        background: url("https://images.unsplash.com/photo-1617103996702-96ff29b1c467?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
        background-size: cover;
        background-repeat: no-repeat;
         min-height: auto;
       
      }
      .shopImg{
        width: 680px;
        height: 880px;
      }

      .estAsia{
        background-color: green;
        color: white;
        z-index: 1;
      }
      .EastAsiaIcon{
        width: 320px;
        height: 320px;
        background-color: green;
        border-radius: 100%;
      }
      .ClockrightSide{
        background-color: rgb(79, 198, 79);
        position: relative;
      }
      .wear{
        position: absolute;
       top:30%;
       right: 33%;
        width: 310px;

      }
      .clock{
        position: absolute;
        width: 250px;
        right: 10%;
        top: 25%;
      }
      .headlineBg{
        background-color: aquamarine; 
        position: relative;
      }

      .story{
        position: absolute;
        width: 200px;
       
        bottom: 2%;
         right: 30%;
       
      }
      .wallpaper{
        position: absolute;
        width: 200px;
        top: 52%;
        left: 15%; 
      }
      .travel{
        position: absolute;
        width: 200px;
        right: 2%;
        top: 20%;
      }
      .handsman{
        position: absolute;
        width: 200px;
        top: 5%;
        right: 30%;
       
      }
      .messanger{
        position: absolute;
        width: 200px;
        left: 15%; 
      }
      .headImg{
      width: 200px;
      height: 50px;
   
      position: absolute;
        z-index: 1;
        top: 23%;
   
      }
  
      .nasaIcon{
        background-color: rgb(58, 42, 184); 
        width: 320px;
        height: 320px;
        border-radius: 100%;
        position: relative;

   
      }
      .nasa{
        background-color: rgb(58, 42, 184); 
        color: white;
        z-index: 1;
      }
      .socialBg{
        background-color: rgb(28, 22, 74); 
        position: relative;
    }
    .mobile{
        position: absolute;
        width: 200px;
        top: 0;
        right: 4%;
      }
  .man{
      position: absolute;
        width: 250px;
        top: 10%;
        left: 25%;
    }

    main{
      position: relative;
    
    }
    .section1{
    position: absolute;
     top: 0;
     width: 1293px;
     height: 880px;
    }
    .section2{
    position: absolute;
    width: 1293px;
     height: 880px;
     top: 0;
    }
    .section3{
    position: absolute;
    width: 1293px;
    height: 880px;
     top: 0;
    }
    .section4{
    position: absolute;
    width: 1293px;
     height: 880px;
     top: 0;
    }
    .section5{
      position: absolute;
      top: 0;
      width: 1293px;
     height: 880px;
    }
    .section6{
      position: absolute;
      top: 0;
      width: 1293px;
     height: 880px;
    }
    .section7{
      position: absolute;
      top: 0;
      width: 1293px;
     height: 880px;
    }

    .uxST .download{
      position: absolute;
      top: 22%;
      font-size: 48px;
      left: 20%;
    }
    .downloadBg{
      background-color: #5d13abe5;
        color: white;
        z-index: 1;
    }
    .downloadIcon{
      width: 320px;
      height: 320px;
      background-color: #6E2BB4;
      border-radius: 100%;
    }
    .uxST .industry{
      position: absolute;
     margin-top: 38%;
      font-weight: 400;
   
     }
     .downloadRightSide{
      background: linear-gradient(to right, rgb(243, 244, 246), rgb(209, 213, 219));
     }
     .police{
      position: absolute;
      width: 300px;
      top: 10%;
      left: 7%;
     }
     .dil{
      position: absolute;
      right: 20%;
      top: 10%;
      width: 300px;
     }
     .footerBg{
      background-color: rgb(9, 113, 241);
      color: white;
      z-index: 1;
     }
     .footerIcon{
      width: 320px;
      height: 320px;
      background-color: rgb(9, 113, 241);
      border-radius: 100%;
     }
    @keyframes fade-in {
      from {
        opacity: 0;
        transform: translate(0, 20px);
      }
      to {
        opacity: 1;
        transform: translate(0, 0);
      }
    }

    .fade-in {
      opacity: 50;
    }
    .fade-in-animation {
      animation: fade-in 1s ease-out;
    }


    @keyframes example {
      0%   {
        opacity: 0;
        transform: translate(0, 60px);

      }
   
      100% {
        opacity: 1;
        transform: translate(0, 100);
      }
    }
    @keyframes mobileAnim {
      0%   {
        opacity: 0;
        transform: translate(0, 0px);

      }
      100% {
        opacity: 1;
        transform: translate(8px, 80px);
      }
    }
    @keyframes nasalogo {
      0%   {
        opacity: 0;
        transform: translate(0, 0px);

      }
      100% {
        opacity: 1;
        transform: translate(0, 8px);
      }
    }
  
  

    .man  {
      animation: example 2s ease-in-out ;
    }
    
    .mobile{
      animation: mobileAnim 2s ease-in ;
    }
     .headImg{
      animation: nasalogo 2s ease-in ;
     }
    
     .download{
      animation: nasalogo 2s ease-in ;
     }
     .police{
      animation: example 2s ease-in-out ;
     }
     .dil{
      animation: mobileAnim 2s ease-in ;
     }
     .industry{
      animation: nasalogo 2s ease-in ;
     }
     .abcDesAnim{
      animation: nasalogo 2s ease-in ;
     }
     .strategy {
      animation: nasalogo 2s ease-in ;
     }
     .tex-head{
      animation: nasalogo 2s ease-in ;
     }
     .abcAnim{
      animation: nasalogo 2s ease-in ;
     }
     .abcIcon{
      animation: nasalogo 2s ease-in ;
     }
     .wear{
      animation: example 2s ease-in-out ;
     }
     .clock{
      animation: mobileAnim 2s ease-in ;
     }
     .Subredefining{
      animation: nasalogo 2s ease-in ;
     }
      .ui{
        animation: nasalogo 2s ease-in ;
      }
      .shopImg{
        animation: example 2s ease-in ;
      }
 }
   

 .faArrow{
        font-weight: 100;
        margin: 2px;
        
    }

   

